<mat-toolbar color="primary">
      <mat-icon>menu</mat-icon>
    <span>Instagram</span>
    <span class="example-spacer"></span>
      <mat-icon>favorite</mat-icon>
      <mat-icon>share</mat-icon>
  </mat-toolbar>
  <div class="container text-center" style="border: double;margin-top: 100px;" >
    <div style="margin: 100px;">
      <h1>Wellcome to Admin Page!!</h1>
<button routerLink="/profiledata" class="btn btn-success">profile</button>&nbsp;
<button routerLink="/postdata"class="btn btn-primary">post</button>
    </div>
    
</div>